body {
  // background-color: #16161e;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #464544;
}

.news-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.news-card {
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin-top: 10px;
}
