@import "./variables.scss";

@media (min-width: $mobile-width) {
  .fab-rope {
    border: solid;
    border-width: 3px;
    height: 500px;
    position: fixed;
    top: 0px;

    left: calc(50% + 21px - 550px);
    z-index: -1;
  }

  .fab-rope-brush {
    position: fixed;
    top: 50px;

    left: calc(50% + 5px - 550px);
    top: 500px;
  }

  .fab-button.MuiFab-root {
    background-color: #d9d9d9;
    border: solid;
    border-width: 3px;

    width: 100px;
    height: 100px;
    position: fixed;

    left: calc(50% - 24px - 550px);
    top: 350px;
    svg {
      height: 70%;
      width: 70%;
    }
  }
}

@media (max-width: $pc-width) and (min-width: $mobile-width) {
  .fab-button.MuiFab-root {
    left: 50px;
  }
  .fab-rope {
    left: 98px;
  }
  .fab-rope-brush {
    left: 82px;
  }
}

@media (max-width: $mobile-width) {
  .fab-rope,
  .fab-rope-brush {
    display: none;
  }

  .fab-button.MuiFab-root {
    background-color: #d9d9d9;
    border: solid;
    border-width: 3px;

    width: min(100px, min(20vw, 20vh));
    height: min(100px, min(20vw, 20vh));
    min-width: 40px;
    min-height: 40px;
    position: fixed;

    right: min(10vw, 10vh);
    bottom: min(20vw, 20vh);

    svg {
      height: 70%;
      width: 70%;
    }
  }
}
