@import "./variables.scss";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-content {
    background-color: #ece8e5;
    padding: 50px;

    img {
      max-width: min(300px, 100%);
      &[src*="#center"] {
        display: block;
        margin: auto;
      }
    }

    h1 {
      text-align: center;
    }

    p {
      font-size: 22px;
    }

    .divider.MuiDivider-root {
      font-size: 25px;
      color: #939190;
      &::before,
      &::after {
        border-top: solid #939190;
      }
    }
  }
}

@media (max-width: $content-max-width) {
  .page-content {
    padding: 15px;
  }
}
