@import "./variables.scss";

.page-content-table {
  width: 100%;
  max-width: $content-max-width;

  &-top {
    display: flex;

    :nth-child(1),
    :nth-child(5) {
      min-width: 100px;
      height: 100px;
    }
    :nth-child(2),
    :nth-child(4) {
      width: 100px;
      height: 100px;
    }
    :nth-child(1) {
      background-image: url("/assets/tableTiles/tableTile1.png");
      background-size: contain;
    }
    :nth-child(2),
    :nth-child(4) {
      background-image: url("/assets/tableTiles/tableTile3.png");
      background-size: contain;
    }
    :nth-child(3) {
      flex-grow: 1;
      background-color: #ece8e5;
    }
    :nth-child(5) {
      background-image: url("/assets/tableTiles/tableTile2.png");
      background-size: contain;
    }
  }
  &-middle {
    display: flex;

    &-left,
    &-right {
      max-width: 19px;
      min-width: 19px;
    }
    &-middle {
      flex-grow: 1;
      min-width: 0;
    }

    &-left {
      background-image: url("/assets/tableTiles/tableTile4.png");
      background-size: contain;
    }
    &-right {
      background-image: url("/assets/tableTiles/tableTile5.png");
      background-size: contain;
    }
  }
  &-bottom {
    display: flex;

    :nth-child(1),
    :nth-child(3) {
      min-width: 100px;
      height: 100px;
    }
    :nth-child(2) {
      height: 100px;
      flex-grow: 1;
    }
    :nth-child(1) {
      background-image: url("/assets/tableTiles/tableTile7.png");
      background-size: contain;
    }
    :nth-child(2) {
      background-image: url("/assets/tableTiles/tableTile6.png");
      background-size: contain;
    }

    :nth-child(3) {
      background-image: url("/assets/tableTiles/tableTile8.png");
      background-size: contain;
    }
  }
}

@media (min-width: $content-max-width) {
  .page-content-table {
    border: solid;
    border-width: 0 15px 15px 15px;
    border-color: #1b2327;
  }
}
