.top-bar {
  display: flex;
  justify-content: center;

  height: 104px;
  background-image: url("/assets/headerBackground.svg");
  background-position: center;
  background-repeat: no-repeat;

  a {
    text-decoration: none;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 900px;
    max-width: 1000px;
  }

  .logo {
    height: 48px;
    margin-right: 20px;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .site-name {
    font-size: 27px;
    color: #464544;
    font-weight: 800;
  }

  .MuiButton-root {
    color: #2e2e2e;
    font-size: 16px;
    font-weight: 600;
  }

  .top-menu {
    .MuiMenu-list {
      padding: 0;
    }
  }
}
